<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Microsoft Corporation. All rights reserved.
  ~ Licensed under the MIT License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.appcenter.distribute">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!--
     Android 11 brings in a lot of changes regarding privacy. By default, list of installed apps is now hidden.
     Manifest block below make browsers on user devices acessible in order to let SDK check for updates in private update track.
     See more about managing package visibility: https://developer.android.com/training/basics/intents/package-visibility
     -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https"/>
        </intent>
    </queries>

    <application>
        <activity
            android:name="com.microsoft.appcenter.distribute.DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="updates"
                    android:path="/"
                    android:scheme="appcenter" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.microsoft.appcenter.distribute.AppCenterPackageInstallerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.microsoft.appcenter.action.START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver 
            android:name="com.microsoft.appcenter.distribute.DownloadManagerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
