<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.microsoft.azure.mobile.updates">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>
        <activity
            android:name=".LoginCallbackActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="updates"
                    android:path="/"
                    android:scheme="mobile.center"/>
            </intent-filter>
        </activity>

        <receiver android:name=".DownloadCompletionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>