<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microsoft.appcenter.sasquatch">

    <application
        android:name=".SasquatchApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CrashActivity"
            android:label="@string/title_crashes" />
        <activity android:name=".activities.CrashSubActivity" />
        <activity android:name=".activities.CrashSubActivity2" />
        <activity
            android:name=".activities.DeviceInfoActivity"
            android:label="@string/title_device_info" />
        <activity
            android:name=".activities.EventActivity"
            android:label="@string/title_event" />
        <activity
            android:name=".activities.EventPropertiesActivity"
            android:label="@string/title_event_properties" />
        <activity
            android:name=".activities.PageActivity"
            android:label="@string/title_page" />
        <activity
            android:name=".activities.DummyActivity"
            android:label="@string/title_generate_page_log" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".activities.ManagedErrorActivity"
            android:label="@string/title_error" />
        <activity
            android:name=".activities.CustomPropertiesActivity"
            android:label="@string/title_custom_properties" />

        <!-- Set default notification icon and color. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_appcenter_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/appcenter_logo" />

    </application>

</manifest>